
#container{
    width: 260px;
    gap:10px;
}
p{
    color: rgb(255, 7, 7);
}
#input1{
    margin: 10px 10px 5px;
    padding: 10px;
    width: 280px;
}
#input2{
    margin: 10px ;
    margin-top: 10px;
    padding: 10px;
    width: 280px;
}
strong{
    margin: 10px;
}
button{
    border: none;
    background-color: transparent;
    
}
#salvar{
    margin: 10px;
}
#reset{
    margin-top: 200px;
    width: 110px;
    background-color: red;
    color: aliceblue;
}
#title{
    background-color: aqua;
}

th {
    background-color: transparent !important;
}
tr:nth-child(2n){
    background-color: rgba(128, 128, 128, 0.459);
}
tr:nth-child(2n) td {
    background-color: transparent;
}