*{
    margin: 10px;
    
}
#container{
    width: 260px;
    gap:10px;
}
p{
    color: rgb(37, 28, 28);
}
#input1{
    padding: 10px;
    width: 180px;
}
#input2{
    padding: 10px;
    width: 80px;
}
#salvar{
    margin: 10px;
}
#reset{
    margin-top: 50px;
}