*{
    margin: 10px;
    
}
#container{
    width: 300px;
    display: flex;
    gap:10px;
}
p{
    color: rgb(51, 10, 235);
}
input{
    padding: 10px;
    width: 100px;

}
#salvar{
    display: block;
}